@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

#root {

  max-width: 1280px;
  background-color: #f9fafc;
}

body {
  background-color: #f9fafc;
  font-family: 'Nunito', sans-serif;
}

h3,
h1 {
  font-family: 'Nunito', sans-serif;
  line-height: 1.3333333;
  word-break: break-all;
}

p {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5714;
  word-break: break-all;
}

.loading {
  position: relative;
}

.loading-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top: 4px solid #1640d6;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.main-content {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.horizontal-divider {
  width: 100%;
  height: 1px;
  background-color: #f0f0f0;
}

.vertical-divider {
  width: 1px;
  height: 100%;
  background-color: #f0f0f0;
}

.blue-button {
  border: 1px solid #f0f0f0;
  background-color: #1640d6;
  border-radius: 8px;
  padding: 4px 20px;
  color: #fff;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding: 4px 15px;
  line-height: 1.5714285714285714;
  transition: background-color 0.3s;
}

.simple-button {
  border: 1px solid #f0f0f0;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 4px 20px;
  color: #000000;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding: 4px 15px;
  line-height: 1.5714285714285714;
  transition: background-color 0.3s;
}

.blue-button:hover {
  background-color: #0d2b9b;
  color: #fff;
}

.simple-button:hover {
  background-color: #f0f0f0;
  color: #000000;
}

.close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px;
  width: 5px;
  height: 5px;
  cursor: pointer;
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --><svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.7457 3.32851C20.3552 2.93798 19.722 2.93798 19.3315 3.32851L12.0371 10.6229L4.74275 3.32851C4.35223 2.93798 3.71906 2.93798 3.32854 3.32851C2.93801 3.71903 2.93801 4.3522 3.32854 4.74272L10.6229 12.0371L3.32856 19.3314C2.93803 19.722 2.93803 20.3551 3.32856 20.7457C3.71908 21.1362 4.35225 21.1362 4.74277 20.7457L12.0371 13.4513L19.3315 20.7457C19.722 21.1362 20.3552 21.1362 20.7457 20.7457C21.1362 20.3551 21.1362 19.722 20.7457 19.3315L13.4513 12.0371L20.7457 4.74272C21.1362 4.3522 21.1362 3.71903 20.7457 3.32851Z" fill="%230F0F0F"/></svg>');
  background-size: cover;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


input[type="date"] {
  min-height: 25px;
}

label {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
}

.read-only {
  background-color: #f0f0f0;
  cursor: not-allowed;

}

label.required::before {
  content: "*";
  color: red;
  margin-right: 5px;
}

.filter-button {
  border: 1px solid #454545;
  border-radius: 8px;
  width: max-content;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24.00 24.00' fill='none' xmlns='http://www.w3.org/2000/svg' transform='matrix(-1, 0, 0, 1, 0, 0)'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M21 6H19M21 12H16M21 18H16M7 20V13.5612C7 13.3532 7 13.2492 6.97958 13.1497C6.96147 13.0615 6.93151 12.9761 6.89052 12.8958C6.84431 12.8054 6.77934 12.7242 6.64939 12.5617L3.35061 8.43826C3.22066 8.27583 3.15569 8.19461 3.10948 8.10417C3.06849 8.02393 3.03853 7.93852 3.02042 7.85026C3 7.75078 3 7.64677 3 7.43875V5.6C3 5.03995 3 4.75992 3.10899 4.54601C3.20487 4.35785 3.35785 4.20487 3.54601 4.10899C3.75992 4 4.03995 4 4.6 4H13.4C13.9601 4 14.2401 4 14.454 4.10899C14.6422 4.20487 14.7951 4.35785 14.891 4.54601C15 4.75992 15 5.03995 15 5.6V7.43875C15 7.64677 15 7.75078 14.9796 7.85026C14.9615 7.93852 14.9315 8.02393 14.8905 8.10417C14.8443 8.19461 14.7793 8.27583 14.6494 8.43826L11.3506 12.5617C11.2207 12.7242 11.1557 12.8054 11.1095 12.8958C11.0685 12.9761 11.0385 13.0615 11.0204 13.1497C11 13.2492 11 13.3532 11 13.5612V17L7 20Z' stroke='%23000000' stroke-width='1.32' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20px;
  background-position-x: 90%;
  color: #262626;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding: 4px 15px;
  padding-right: 35px;
  line-height: 1.5714285714285714;
  transition: background-color 0.3s;
}