.last-reports {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 0px 20px 3px rgba(150, 190, 238, 0.15);
    transition: all 0.3s ease;
    border-radius: 5px;

    h2 {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
        margin: 0;
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
    }

    .last-reports-content-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #f0f0f0;
        padding: 5px 0;
        p{
            font-size: 14px;
            margin: 0;
            color: #595959;
            font-weight: 600;
            font-family: 'Nunito', sans-serif;
        }

        /* a {
            font-family: 'Nunito', sans-serif;
            font-size: 14px;
            margin: 0;
            color: #3ab3d6;
            font-weight: 600;
            padding: 5px 10px;


            border: 1px solid #87e8de;
            border-radius: 5px;
            background-color: #e6fffb;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


        } */
         .links{
            display: flex;
            gap: 10px;
             a{
                img{
                    width: 20px;
                    height: 20px;
                }
             }
         }

    }

}

.last-reports:hover {
    box-shadow: 0px 0px 20px 3px rgba(150, 190, 238, 0.25);
}