.chart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chart-wrapper{
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 0 rgba(5, 95, 255, 0.1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    align-items: center;

    &:hover{
        box-shadow: 0 2px 0 rgba(5, 95, 255, 0.3);
    }
}


.line-chart{
    height: 100%;
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bar-chart{
    height: 100%;
    padding: 20px;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.custom-dropdown-button {
    margin-block: 10px;
    width: 100%;
    position: relative;
    display: inline-block;
}

.dropdown-button-toggle {
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
  }
  
  .dropdown-button-menu {
    width: 100%;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 5px;
    padding: 10px;
    min-width: 160px;
  }
  
  .dropdown-button-item {
    display: block;
    padding: 5px;
    cursor: pointer;
  }
  
  .dropdown-button-item input {
    margin-right: 10px;
  }
  