.main-content {
    display: flex;
    height: calc(100vh - 100px);
    margin-top: 20px;

    .member-list {
        height: calc(100vh - 100px);
    }

    .members {
        height: calc(100vh - 100px);
        min-height: calc(100vh - 180px);

    }
}



.member-list {
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0px 0px 20px 3px rgba(150, 190, 238, 0.15);
    transition: all 0.3s ease;
    border-radius: 5px;
    height: calc(100vh - 210px);
    background-color: #ffffff;


    .top-bar {
        display: flex;
        justify-content: space-between;
        /* width: 100%; */
        margin-top: 10px;
        padding: 10px;
        background-color: #fafafa;
        border-radius: 10px 10px 0 0;

        .top-bar-item {
            display: flex;
            align-items: center;
            width: 100%;

            h4 {
                font-size: 16px;
                margin: 0;
                font-family: 'Nunito', sans-serif;
                font-weight: 700;
            }

            :nth-child(1) {
                width: 25%;
            }

            :nth-child(2) {
                width: 40%;
            }

            :nth-child(3) {
                width: 10%;
            }

            :nth-child(4) {
                width: 15%;
            }

            :nth-child(5) {
                width: 10%;
            }
        }
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: end;
        background-color: #fff;
        position: sticky;

        h2 {
            font-size: 24px;
            margin-bottom: 20px;
            text-align: center;
            margin: 0;
            font-family: 'Nunito', sans-serif;
            font-weight: 700;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .title-buttons {
            display: flex;
            gap: 10px;

            input[type="search"] {
                padding: 4px 4px 4px 30px;
                display: block;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-family: 'Nunito', sans-serif;
                font-size: 12px;
                font-weight: 700;
                background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;

            }

            .simple-button {
                padding: 4px 10px 4px 30px;
                /* border: 1px solid #000000; */
                background: transparent url('data:image/svg+xml,<%3Fxml version="1.0" encoding="iso-8859-1"%3F><svg fill="%23000000" height="10px" width="10px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 489.645 489.645" xml:space="preserve"><g><path d="M460.656,132.911c-58.7-122.1-212.2-166.5-331.8-104.1c-9.4,5.2-13.5,16.6-8.3,27c5.2,9.4,16.6,13.5,27,8.3c99.9-52,227.4-14.9,276.7,86.3c65.4,134.3-19,236.7-87.4,274.6c-93.1,51.7-211.2,17.4-267.6-70.7l69.3,14.5c10.4,2.1,21.8-4.2,23.9-15.6c2.1-10.4-4.2-21.8-15.6-23.9l-122.8-25c-20.6-2-25,16.6-23.9,22.9l15.6,123.8c1,10.4,9.4,17.7,19.8,17.7c12.8,0,20.8-12.5,19.8-23.9l-6-50.5c57.4,70.8,170.3,131.2,307.4,68.2C414.856,432.511,548.256,314.811,460.656,132.911z"/></g></svg>') no-repeat 13px center;

            }
        }
    }

    .members {
        width: 100%;
        height: calc(100vh - 290px);
        overflow-y: scroll;

        .member {
            /* width: 100%; */
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            border-bottom: 1px solid #f0f0f0;
            position: relative;

            .member-details {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 0;

                :nth-child(1) {
                    width: 25%;
                }

                :nth-child(2) {
                    width: 40%;
                }

                :nth-child(3) {
                    width: 10%;
                }

                :nth-child(4) {
                    width: 15%;
                }

                :nth-child(5) {
                    width: 10%;
                }

                p {
                    font-size: 14px;
                    margin: 0;
                    color: #595959;
                    font-weight: 600;
                    width: 45%;

                }

                img {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    cursor: pointer;
                }

                span {
                    font-family: 'Nunito', sans-serif;
                    font-size: 14px;
                    margin: 0;
                    color: #3ab3d6;
                    font-weight: 600;
                    width: 45%;
                }
            }

            .options {
                position: absolute;
                bottom: -90px;
                right: 20px;
                background-color: #fff;
                border: 1px solid #ccc;
                padding: 10px;
                border-radius: 5px;
                box-shadow: 0px 0px 20px 3px rgba(150, 190, 238, 0.15);
                display: flex;
                flex-direction: column;
                /* gap: 10px; */
                z-index: 100;

                button {
                    padding: 5px 10px;
                    border: none;
                    color: #000000;
                    border-radius: 5px;
                    cursor: pointer;
                    font-family: 'Nunito', sans-serif;
                    font-size: 12px;
                    font-weight: 700;
                    background: #fff;
                }

                button:hover {
                    background: #f0f0f0;
                }
            }
        }
    }

    .left-section {
        position: absolute;
        right: 0;
        top: 0;
        width: 400px;
        height: 100%;
        background-color: #fff;
        border-left: 1px solid #f0f0f0;
        box-shadow: 0px 0px 20px 3px rgba(150, 190, 238, 0.15);
        transition: all 3s ease;
        overflow-y: scroll;

        .left-section-content {
            padding: 20px;
            h3 {
                text-align: center;
            }

            .details {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 6px;
                margin-top: 10px;


                .details-item {
                    display: flex;
                    align-items: start;
                    gap: 10px;
                    /* width: 100%; */
                    padding: 0;
                    margin: 0;

                    h4 {
                        margin: 0;
                        padding: 0;
                        min-width: 90px;
                        width: max-content;
                        font-size: 16px;
                    }

                    p {
                        padding: 0;
                        margin: 0;
                        font-size: 14px;
                    }

                }
            }

            form {
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                max-height: calc(100vh - 490px);

                input[type="text"],
                input[type="email"],
                input[type="number"],
                input[type="date"],
                select {
                    padding: 5px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    font-family: 'Nunito', sans-serif;
                    font-size: 14px;
                }

                label {
                    font-family: 'Nunito', sans-serif;
                    font-size: 14px;
                    font-weight: 700;
                    margin-top: 10px;
                }

                .read-only {
                    background-color: #f0f0f0;
                    cursor: not-allowed;

                }

                .blue-button {
                    padding-block: 8px;
                    margin-top: 10px;

                }
            }

        }
    }
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #d2d2d2;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.member-list:hover {
    box-shadow: 0px 0px 20px 3px rgba(150, 190, 238, 0.25);
}