.main {
    /* position: absolute;
    z-index: 0;
    top: 0;
    left: 0; */
    width: calc(100vw - 260px);
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #f9fafc;


    margin-left: 250px;

    .top-nav {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: end;
        align-items: center;

        a {
            border: 1px solid #f0f0f0;
            background-color: rgba(255, 0, 0, 0.455);
            border-radius: 5px;
            padding: 5px 10px;
            color: #fff;
            text-decoration: none;
            font-family: 'Nunito', sans-serif;
            font-size: 14px;
        }
    }

    .top-content-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .dashboard-content {
        width: 100%;


        .dashboard-content-container {
            background-color: #fff;
            margin-top: 35px;
            display: flex;
            gap: 10px;
            background-color: #f9fafc;



            .recent-activities {
                width: 40%;
                /* height: 200px; */
                display: flex;
                flex-direction: column;
                gap: 10px;


            }
        }
    }
}