<html>
  <head>
    <title>Income Record</title>
    <style>
      body {
        font-family: sans-serif;
        font-size: 13px;
        margin: 10px;
      }
      .income-record-heading {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      table {
        margin: 20px 0px;
      }
      th, td {
        width: 50%;
      }
      @media print {
        .avoid-page-break-inside {
          page-break-inside: avoid;
        }
      }
    </style>
  </head>
  <body>
    <h3 class="income-record-heading" style="margin-top: 0px;">{{incomeRecordHeading}}</h3>
    <div class="income-record-detail">
      {{incomeRecordDetail}}
    </div>
    <div class="income-record-tables">{{incomeRecordTables}}</div>   
  </body>
</html>