<html>
  <head>
    <title>Ledger</title>
    <style>
      body {
        font-family: sans-serif;
        font-size: 13px;
        margin: 10px;
      }
      .ledger-heading {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .ledger-table-container {
        margin-top: 1.5em;
      }
      @media print {
        .avoid-page-break-inside {
          page-break-inside: avoid;
        }
      }
    </style>
  </head>
  <body>
    <h3 class="ledger-heading" style="margin-top: 0px;">{{ledgerHeading}}</h3>
    <div class="ledger-detail">
      {{ledgerDetail}}
    </div>   
    <div class="ledger-table-container">
      {{ledgerTable}}
    </div>
  </body>
</html>