body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container {
    width: 30%;
    margin: 0 auto;
    h3{
        text-align: center;
        font-size: 12px;
        margin-bottom: 10px;
    }
}

.header,
.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;

    .form-group {
        width: 30%;
        max-width: 30%;
    }

    .society-name {
        padding: 0 18px;
        h2 {
            font-size: 12px;
            font-weight: 700;
        }
        h3{
            font-size: 8px;
            font-weight: 700;
        }
    }

}

img {
    width: 60px;
}

.account {
    width: 100%;

    p {
        text-align: right;
        font-size: 8px;
    }
}

h2 {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
}

p {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.bank {
    p {
        font-family: 'Times New Roman', Times, serif;
        font-size: 12px;
        text-align: left;
    }
}

input {
    border: none;
    border-bottom: 1px solid #000;
    min-width: 40px;
}

.header img {
    width: 60px;
}

.header div,
.section div {
    flex: 1;
    text-align: center;
}

.header div:first-child {
    text-align: left;
}

.header div:last-child {
    text-align: right;
}

label {
    width: max-content;
    min-width: max-content;
    margin-right: 10px;
    font-weight: 700;
    font-size: 12px;
}

#name,
#address,
#phone,
#email {
    width: 100%;
}

#membership-no {
    width: 50%;
}

.form-group {
    margin: 10px 0;
    display: flex;
    align-items: end;
}

.form-group input {
    width: 100%;
    padding: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #000;
}

.text-container {
    width: 35%;
    margin: 0 0;
    padding: 0px 30px;

    display: flex;
    justify-content: space-between;

    h3 {
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 12px;
    }
}

.membership {
    width: 100%;
    margin: 0 0;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid #000; */

}

.membership-form {
    width: 100%;
    input{
        max-width: 30px;
        width: 100%;
        min-width: 20px;
    }
}

th,
td {
    padding: 2px 6px;
    text-align: left;
}
th{
    font-size: 10px;
}

.total {
    font-weight: bold;
}

.total-text {
    text-align: right;
}

tr {
    td {
        width: 20%;
    }

    input {
        width: 100%;
        border: none;
    }
}

.sign-section{
    width: 100%;
    display: flex;
    .last-sign{
        width: 50%;    
    }
}